* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}
  
:root {
    --primary-color: #090ab2;
    --acent-color:#ffd00d;
    --text-color: #f9f9f6;

}

#counter {
    background-color: var(--primary-color);
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
    color: var(--text-color);
   
}

#border {
    border: 3px solid var(--acent-color);
    height: 100%;
    width: 100%;
    padding: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#title {
    width: 35%;
}

#time {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.acent-color{
    color: var(--acent-color);
}
