* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #090ab2;
  --acent-color: #ffd00d;
  --text-color: #f9f9f6;
}

#counter {
  background-color: var(--primary-color);
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px;
  color: var(--text-color);
}

#border {
  border: 3px solid var(--acent-color);
  height: 100%;
  width: 100%;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  width: 35%;
  font-size: 35px;
}

#time {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acent-color {
  color: var(--acent-color);
}

.tick {
  font-size: 1rem;
  white-space: nowrap;
  font-family: arial, sans-serif;
}

.tick-flip,
.tick-text-inline {
  font-size: 2.5em;
}

.tick-label {
  margin-top: 1em;
  font-size: 1em;
}

.tick-char {
  width: 1.5em;
}

.tick-text-inline {
  display: inline-block;
  text-align: center;
  min-width: 1em;
}

.tick-text-inline + .tick-text-inline {
  margin-left: -0.325em;
}

.tick-group {
  margin: 0 0.5em;
  text-align: center;
}

body {
  background-color: #fff !important;
}

.tick-text-inline {
  color: #595d63 !important;
}

.tick-label {
  color: #595d63 !important;
}

.tick-flip-panel {
  color: #fff !important;
}

.tick-flip-panel-text-wrapper {
  line-height: 1.45 !important;
}

.tick-flip-panel {
  background-color: #3c3e3c !important;
}

.tick-flip {
  border-radius: 0.12em !important;
}

@media screen and (max-width: 1024px) {
  #counter {
    display: flex !important;
    flex-direction: column !important;
    background-color: #3c3e3c !important;
    padding: 15px; /* reducimos el padding */
  }

  #title {
    width: 100% !important;
    font-size: 25px; /* reducimos el tamaño de fuente */
    margin-bottom: 15px;
  }

  .tick-flip,
  .tick-text-inline {
    font-size: 2em; /* reducimos un poco el tamaño */
  }

  .tick-group {
    margin: 0 0.3em; /* reducimos los márgenes */
  }
}

@media screen and (max-width: 870px) {
  .tick-group {
    margin: 0; /* reducimos los márgenes */
  }
}
@media screen and (max-width: 800px) {
  .tick-flip,
  .tick-text-inline {
    font-size: 1.5em; /* reducimos un poco el tamaño */
  }
}
@media screen and (max-width: 670px) {
  #border {
    flex-direction: column !important;
    gap: 20px; /* para separar el título del contador */
  }

  #title {
    width: 100% !important;
    text-align: center;
  }

  h1 {
    font-size: 25px; /* reducimos el tamaño del título */
  }

  #time {
    width: 100%;
  }
}
