<div id="counter">
    <div id="border">
        <div id="title">
            <h1>
                JORNADA DEL EMPRENDIMIENTO <span class="acent-color"
                    >comienza en<span></span>
                </span>
            </h1>
        </div>
        
        <div id="time" class="tick" data-did-init="handleTickInit">
            <div class="tick-onended-message" style="display: none">
            
            </div>
        </div>
    </div>
</div>
