<div class="introduction-container border-solid accent-accent-color bg-secondary-color ">
  <div class="introduction-card delay-[300ms] duration-[600ms] taos:translate-y-[100%] taos:opacity-0 bg-white my-4" data-taos-offset="-300">
    <h1 class="text-accent-color text-lg smallMobile:text-2xl ">¿QUÉ ES LA JORNADA DE EMPRENDIMIENTO?</h1>
    <p>La jornada del emprendimiento es un día especial en el instituto Albarregas. En este día puede verse cómo las
      empresas tienen un acercamiento hacia la Formación Profesional, dando consejos e información según sus
      experiencias.</p>
  </div>
</div>

<style>

.introduction-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction-card {
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  text-align: center;
}

/* .introduction-card>h1 {
  font-size: 1.75rem;
} */

</style>
