---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Web de emprendimiento para el IES Albarregas" />
    <meta name="viewport" content="width=device-width" />
    <link href="/src/components/counter/flip/flip.min.css" rel="stylesheet">
    <link href="/src/components/counter/css/style.css" rel="stylesheet">
    <script src="/src/components/counter/flip/flip.min.js" is:inline></script>
    <script src="/src/components/counter/js/index.js" is:inline></script>
    <title>{title}</title>

  </head>
  <body>

    <slot />
  </body>
</html>
<style is:global></style>
